
<%- include("header") -%>
<div>
  <h2>Hello This an about Page</h2>

  <pre>This is a Basic to-do-list application where one can perform the following:
    --> Adding items to list.
    --> Deleting items by clicking the checkbox.
    --> Private space for additional tasks</pre>

</div>

<%- include("footer") -%>
